openapi: 3.0.0
info:
  title: Liquid Asset Registry API
  version: 1.0.0
servers:
  - url: "https://blockstream.info/liquid/api"
paths:
  /assets/registry?sort_field=name:
    get:
      summary: Get Liquid Assets Registry
      description: Returns a list of Liquid assets registered on the Liquid Network.
      responses:
        '200':
          description: A list of Liquid assets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiquidAsset'
components:
  schemas:
    LiquidAsset:
      type: object
      properties:
        asset_id:
          type: string
          description: Unique identifier for the asset.
        issuance_txin:
          type: object
          properties:
            txid:
              type: string
              description: Transaction ID where the asset was issued.
            vin:
              type: integer
              description: Index of the input in the transaction.
        issuance_prevout:
          type: object
          properties:
            txid:
              type: string
              description: Transaction ID of the previous issuance.
            vout:
              type: integer
              description: Index of the output in the transaction.
        reissuance_token:
          type: string
          description: Token for reissuance.
        contract_hash:
          type: string
          description: Hash of the contract.
        status:
          type: object
          properties:
            confirmed:
              type: boolean
              description: Indicates if the status is confirmed.
            block_height:
              type: integer
              description: Block height of the transaction.
            block_hash:
              type: string
              description: Hash of the block containing the transaction.
            block_time:
              type: integer
              description: Time of the block containing the transaction.
        chain_stats:
          type: object
          properties:
            tx_count:
              type: integer
              description: Total number of transactions.
            issuance_count:
              type: integer
              description: Total number of issuances.
            issued_amount:
              type: integer
              description: Total amount issued.
            burned_amount:
              type: integer
              description: Total amount burned.
            has_blinded_issuances:
              type: boolean
              description: Indicates if there are blinded issuances.
            reissuance_tokens:
              type: integer
              description: Total number of reissuance tokens.
            burned_reissuance_tokens:
              type: integer
              description: Total number of burned reissuance tokens.
        mempool_stats:
          type: object
          properties:
            tx_count:
              type: integer
              description: Total number of transactions in mempool.
            issuance_count:
              type: integer
              description: Total number of issuances in mempool.
            issued_amount:
              type: integer
              description: Total amount issued in mempool.
            burned_amount:
              type: integer
              description: Total amount burned in mempool.
            has_blinded_issuances:
              type: boolean
              description: Indicates if there are blinded issuances in mempool.
            reissuance_tokens:
              type: integer
              description: Total number of reissuance tokens in mempool.
            burned_reissuance_tokens:
              type: integer
              description: Total number of burned reissuance tokens in mempool.
        contract:
          type: object
          properties:
            entity:
              type: object
              properties:
                domain:
                  type: string
                  description: Domain of the contract entity.
            issuer_pubkey:
              type: string
              description: Public key of the issuer.
            name:
              type: string
              description: Name of the contract.
            ticker:
              type: string
              description: ticker of the contract.
            precision:
              type: integer
              description: Precision of the contract.
            version:
              type: integer
              description: Version of the contract.
        entity:
          type: object
          properties:
            domain:
              type: string
              description: Domain of the entity.
        precision:
          type: integer
          description: Precision of the asset.
        name:
          type: string
